<%- include('../../partials/header') %> 
<body>
    <%- include('../../partials/navbar') %> 
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Edição de categoria</h2>
            </div>
            <div class="card-body">
                <form action="/categories/update/" method="post">
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <div class="form-group">
                        <label for="title">Título</label>
                        <input type="text" name="title" id="title" class="form-control" placeholder="Título" value="<%= category.title %> ">
                    </div>
                    <button type="submit" class="btn btn-success">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer') %> 