<%- include('../../partials/header') %>
<body>
    <%- include('../../partials/navbar') %>
    <div class="container">
        <hr>
        <h2>Categorias</h2>
        <a href="/admin/categories/new" class="btn btn-success">Criar nova categoria</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category => { %>
                <tr>
                    <td><%= category.id %></td>
                    <td><%= category.title %></td>
                    <td><%= category.slug %></td>
                    <td>
                        <a href="/admin/categories/edit/<%= category.id %> " class="btn btn-warning">Editar</a>
                        <form action="/categories/delete" method="post" class="d-inline" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button type="submit" class="btn btn-danger" >Deletar</button>
                        </form>
                    </td>
                </tr>
                <% }) %> 
            </tbody>
        </table>

    </div>
</body>
<%- include('../../partials/footer') %>

<script>
    function confirmarDelecao(ev, form) {
        ev.preventDefault();
        var decision = confirm("Tem certeza?");
        if (decision) {
            form.submit();
        }

    }
</script>